@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.leagueCard {
  @include flex(row, start, center);
  width: 100%;
  height: 40px;
  background-color: rgb(230, 230, 230);
  padding-inline-start: $spacing-14;
  gap: $spacing-14;

  &:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
  }
}